@font-face {
    font-family: Figtree;
    src: url("assets/fonts/figtree/Figtree-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Figtree;
    src: url("assets/fonts/figtree/Figtree-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

:root {
    /* colors */
    --dark-gray: oklch(0.2 0 0);
    --light-gray: oklch(0.7 0 0);
    --paper: oklch(0.99 0.02 80);
    --midnight-blue: oklch(0.01 0.13 290);

    /* sizes */
    --body-text: 1.1em;
    --space-3: 1.3rem;
    --space-2: 1rem;

    /* misc tokens */
    --body-font-weight: 300;
    --font-family: 'Figtree', sans-serif;
    --max-width: 768px;
    
    --text-color: var(--dark-gray);
    --link-color: var(--dark-gray);
    --bg-color: var(--paper);

    @media (prefers-color-scheme: dark) {
        --text-color: var(--light-gray);
        --link-color: var(--light-gray);
        --bg-color: var(--midnight-blue);

        img {
            filter: brightness(0.55);
        }
    }
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    /* font-family: 'Figtree', sans-serif; */
    font-family: 'Figtree', sans-serif;

    background-color: var(--bg-color);
    
    body {
        box-sizing: border-box;
        padding: 2rem;
        width: 100%;
        max-width: 600px;

        navbar {
            display: inline-flex;
            gap: var(--space-2);
            margin-bottom: var(--space-3)
        }

        blog-card {
            display: flex;
            flex-direction: column;
            margin-bottom: var(--space-3);

            a {
                font-weight: var(--body-font-weight);
                line-height: 1.5em;
                margin-bottom: 0.4em;
            }
        }

        strong {
            font-weight: 500;
        }

        p {
            font-size: var(--body-text);
            line-height: 1.5em;
            margin-bottom: var(--space-3);
            font-weight: var(--body-font-weight);

            &.indent {
                padding-left: 1em;
            }
        }

        a {
            color: var(--link-color);
        }

        img {
            max-width: 100%;
            margin-bottom: var(--space-3);
        }

        small {
            line-height: 0.5em;
        }
    }

    @media (min-width: 768px) {
        padding: 2rem;
    }
}
